<h1>Manage programs <%= link_to "Create new", new_admin_program_path, class: "btn admin-btn admin-create-btn floatright" %></h1>
<% if @programs.exists? %>
  <div class="clearfix well">
    <table class="table table-striped">
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Uploaded by</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
      <% @programs.each do |program| %>
        <tr>
          <th><%= program.category.name %></th>
          <th><%= link_to program.program_title, admin_program_path(program), class: "program-link" %></th>
          <th><%= full_name(program.user.first_name, program.user.last_name) %></th>
          <th><%= program.created_at.strftime("%d %B %Y at %l:%M %p") %></th>
          <th><%= link_to "Edit", edit_admin_program_path(program), class: "btn admin-btn admin-btn-warning" %><%= link_to "Delete", admin_program_path(program), method: :delete, data: { confirm: "Are you sure?" }, class: "btn admin-btn admin-btn-danger" %></th>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>There are no programs to show.</p>
<% end %>