<% title @program.program_title %>
<div class="clearfix main_content floatleft">          
  <div class="clearfix content">
    <div class="content_title"><h2><%= @program.program_title %></h2></div>
    <div class="single_work_page clearfix">
      <div class="work_single_page_feature"><%= image_tag @program.image.url if @program.image? %></div>
      <div class="work_meta clearfix">
        <p class="floatleft">Category : <span> <%= @program.category.name %></span> Topics: <span><%= @program.topics %></span></p>
        <%= link_to "Book this program", new_booking_path({ program_id: @program.id, user_id: current_user.id }), class: "floatright" %>
      </div>
      <div class="single_work_page_content">
        <p><%= @program.program_description %></p>
        <br />
        <p>Mode of delivery: <%= @program.delivery_mode.name %></p>
        <br />
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-money big" aria-hidden="true"></i> <%= free?(@program.id) %>
          </div>
          <div class="col-md-2">
            <i class="fa fa-hourglass-half big" aria-hidden="true"></i> <%= pluralize(@program.duration, "hour") %>
          </div>
          <div class="col-md-2">
            <i class="fa fa-crosshairs big" aria-hidden="true"></i> <%= @program.school_levels.map(&:name).join(", ") %>
          </div>
          <div class="col-md-3">
            <i class="fa fa-users big" aria-hidden="true"></i> <%= @program.group_size_min %> to <%= @program.group_size_max %> students
          </div>
          <div class="col-md-3">
            <i class="fa fa-clock-o big" aria-hidden="true"></i> <%= format_time(@program.time_am) %>, <%= format_time(@program.time_pm) %>
          </div>
        </div>
      </div>
      
    </div>
      <div class="more_works">
        <h2>Other programs you may like <i class="fa fa-thumbs-o-up"></i></h2>
        <div class="more_works_container">
          <div class="single_more_works floatleft">
            <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
            <a href=""><h2>Program name here</h2></a>
          </div>
          <div class="single_more_works floatleft">
            <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
            <a href=""><h2>Program name here</h2></a>
          </div>
          <div class="single_more_works floatleft">
            <img src="http://dummyimage.com/220x150/000/fff&text=Thumbnail" alt=""/>
            <a href=""><h2>Program name here</h2></a>
          </div>

        </div>
      </div>
  </div>
  
</div>