<%= simple_form_for @booking do |f| %>
  <%= f.association :program, label_method: :program_title %>
  <%= f.input :preferred_date, as: :string, label: "Select your preferred date", input_html: { class: 'date_picker' } %>
  <%= f.label :preferred_time, "Select your preferred time" %><br>
  <p><%= f.collection_radio_buttons :preferred_time, [[@booking.program.time_am, "#{format_time(@booking.program.time_am)}"], [@booking.program.time_pm, "#{format_time(@booking.program.time_pm)}"]], :first, :last %></p>
  <%= f.button :submit %>
<% end %>