<% title "School levels" %>
<h1>Manage school levels <%= link_to "Create new", new_admin_school_level_path, class: "btn admin-btn admin-create-btn floatright" %></h1>
<% if @school_levels.exists? %>
  <div class="clearfix well">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Date created</th>
        <th>Actions</th>
      </tr>
      <% @school_levels.each do |school_level| %>
        <tr>
          <td><%= school_level.name %></td>
          <td><%= format_date(school_level.created_at) %></td>
          <td><%= link_to "Edit", edit_admin_school_level_path(school_level), class: "btn admin-btn admin-btn-warning" %><%= link_to "Delete", admin_school_level_path(school_level), method: :delete, data: { confirm: "Are you sure?" }, class: "btn admin-btn admin-btn-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% else %>
  <p>There are no school levels to show.</p>
<% end %>