<%= form_for [:admin, @user] do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%#= f.label :email %>
    <%#= f.email_field :email, class: "form-control" %>
  </div>
  <%= f.submit @user.new_record? ? "Create user" : "Update user", class: "btn admin-btn admin-create-btn" %><%= link_to "Go back to list", admin_users_path, class: "btn admin-btn admin-cancel-btn" %>
<% end %>