<% title full_name(@user.first_name, @user.last_name) %>
<div class="clearfix content">
  <div class="programs-show">
    <h1><strong><%= full_name(@user.first_name, @user.last_name) %></strong></h1>
    <div class="programs-show-description">
      <ul>
        <li><strong>Email:</strong> <%= @user.email %></li>
        <li><strong>Created by:</strong> <%= @user.creator.nil? ? "None. You are superadmin." : full_name(@user.creator.first_name, @user.creator.last_name) %></li>
        <li><strong>Role:</strong> <%= @user.role.name %></li>
        <li><strong>Joined on:</strong> <%= format_date(@user.created_at) %></li>
        <li><strong>Last logged in:</strong> <%= @last_login.nil? ? "never" : format_date(@last_login) %></li>
        <li><strong>No. times logged in:</strong> <%= @user.sign_in_count %></li>
      </ul>
      <hr>
      <h3>Admin actions</h3>
      <%= link_to "Back", admin_users_path, class: "program-link" %> | <%= link_to "Edit", edit_admin_user_path(@user), class: "program-link" %> | <%= link_to "Delete", admin_user_path(@user), method: :delete, data: { confirm: "Are you sure?" }, class: "program-link" %>
    </div>
  </div>
</div>