<!DOCTYPE html>
<html>
  <head>
    <title>BookingSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/shim" %>
  </head>

  <body>
    <%= render "shared/flash_message" %>
    <section id="header_area">
      <div class="wrapper header">
        <div class="clearfix header_top">
          <div class="clearfix logo floatleft">
            <a href=""><h1><span>Program</span> Booking</h1></a>
          </div>
          <div class="clearfix search floatright">
            <%= render "shared/search" %>
          </div>
        </div>
        <div class="header_bottom">
          <nav>
            <ul id="nav">
              <li><a href="">Home</a></li>
              <li id="dropdown"><a href="">Drop Down</a>
                <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                  <li><a href="">Category</a></li>
                </ul>
              </li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
              <li><a href="">Category</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </section>

    <section id="content_area">
      <div class="jumbotron">
        <div class="container">
          <h1><%= company_bs %></h1>
          <p><%= hipster_statements %></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Log in &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <%= yield %>
        
      </div >
      <%= render "shared/footer" %>
    </section>
  </body>
</html>
