<!DOCTYPE html>
<html>
  <head>
    <title>BookingSystem | <%= content_for?(:title) ? yield(:title) : "Home" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:400,300,700' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "shared/shim" %>
  </head>

  <body>
    <section id="header_area">
      <%= render "shared/header" %>
    </section>
    
    <section id="content_area">
      <div class="clearfix wrapper main_content_area">
        <%= render "shared/flash_message" %>
        <%= yield %>
        <div id="remote-container"></div>
        <%= render "shared/sidebar" unless bookings_controller? %>
      </div>
    </section>
    
    <section id="footer_top_area">
      <%= render "shared/footer_top" %>
    </section>
    
    <section id="footer_bottom_area">
      <%= render "shared/footer_bottom" %>
    </section>
  </body>
</html>
